<div fxLayout="column" class="homepage" fxLayoutAlign="center" style="background-color: black;color:white">
    <br>
    <span fxLayoutAlign="center">
        <h2>TECHNICAL SKILLS</h2>
    </span>
    <div style="margin-left: 10%; margin-right: 5%;" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>Angular Expertise</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%">Proficient in Angular framework, I specialize in building robust,
                single-page applications (SPAs) that are responsive, modular, and maintainable.</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>UI/UX Design</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%"> My eye for design allows me to create intuitive and
                visually appealing interfaces, ensuring a delightful user journey.</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>Component Architecture</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%"> I excel in designing and implementing intricate component-based
                architectures,
                optimizing reusability and readability of code.</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>RESTful APIs</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%"> Proficient in integrating with RESTful APIs to seamlessly manage data
                flow and deliver real-time updates.</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>State Management</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%">Experienced with state management libraries like NgRx, I implement
                complex state flows for scalable applications.</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>Responsive Design</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%">Skilled in crafting applications that provide a consistent and engaging
                experience across various devices and screen sizes.</span>
        </div>
        <br>
        <br>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>HTML &nbsp;&nbsp;80%</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%"><app-progressbar [progress]="80"></app-progressbar></span>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>CSS &nbsp;&nbsp;80%</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%"><app-progressbar [progress]="80"></app-progressbar></span>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>JAVASCRIPT &nbsp;&nbsp;60%</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%"><app-progressbar [progress]="60"></app-progressbar></span>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>ANGULAR &nbsp;&nbsp;70%</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%"><app-progressbar [progress]="70"></app-progressbar></span>
        </div>
    </div>
    <br>
    <span fxLayoutAlign="center">
        <h2>SOFT SKILLS</h2>
    </span>
    <div style="margin-left: 10%; margin-right: 5%;" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>Continuous Learning:</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%">In the rapidly evolving field of web development, I stay ahead by
                dedicating time to continuous learning. I eagerly
                explore the latest advancements in Angular and related technologies to incorporate best practices into
                my work.</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>Team Collaboration:</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%">I thrive in collaborative environments, working seamlessly with
                cross-functional teams to achieve project goals.
                My strong communication skills facilitate effective knowledge sharing and problem-solving.</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>Passion and Commitment</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%">Driven by a genuine passion for coding and technology, I am committed
                to delivering high-quality solutions that exceed client expectations. My goal is to contribute to
                projects that make a positive impact on users' lives.</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <span fxLayout="column" fxFlex="30%"><b>Open to New Challenges</b></span>
            <span fxLayout="column" fxFlex="10%">:</span>
            <span fxLayout="column" fxFlex="60%">Always ready to embrace new challenges, I am excited to explore
                innovative solutions and contribute to projects that require cutting-edge Angular development
                expertise.</span>
        </div>
    </div>
<br>
<br>
<!-- <span style="text-align: center;"><h2>PROJECT</h2></span>
<blockquote>
    
</blockquote> -->
</div>