<div fxLayout="column" class="homepage" fxLayoutAlign="center">
    <div fxLayout="row wrap" fxLayout.gt-xs="row" fxLayoutAlign="start" class="image-container ">

        <div fxFlex="100%" fxFlex.gt-xs="40%" fxLayoutAlign="center" fxLayout="column">
            <img src="assets/shilpa.jpg" alt="" width="60%" height="100%" style="border-color: white;border-radius: 20px;">
        </div>
        <div fxFlex="100%" fxFlex.gt-xs="60%" fxLayoutAlign="start center" fxLayout="column">
            <blockquote>
                <h1><b>SHILPA SIVAN</b></h1>
                <h4><i>Angular Developer</i></h4>
                <!-- <mat-icon>waving_hand</mat-icon> -->
               <p>
                <i>Hi there,<br> <br>I am a passsionate and skilled Angular Developer with deep love for
                    crafting exceptional web application.With 6 month of hands-on experiance in
                    building dynamic and responsive front-end solutions,i thrive on turningideas
                    into reality through elegant code and user-centric design.
                    If you're seeking an Angular developer who
                    is adept at turning complex ideas into elegant applications, I'm eager to discuss how I can bring
                    your vision to life.
                </i>
               </p>
            </blockquote>
        </div>

    </div>
    <br>
    <br>
    <span fxLayoutAlign="center">
        <h2>EDUCATION</h2>
    </span>
    <div fxLayout="row wrap" fxLayoutAlign="space-around" class="image-container ">
        <mat-card class="education-card">
            <mat-card-header>
                <mat-card-title>DEGREE</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayout.lt-md="column">
                        <div fxFlex="50%">
                            <p><strong>University: </strong> APJ Abdul Kalam University</p>
                            <p><strong>Degree: </strong> Bachelor's in Computer Science</p>
                            <p><strong>Year: </strong> 2021</p>
                            <p><strong>CGPA: </strong> 7.40</p>
                        </div>
                    </div>
                    <!-- <p><strong>Honors:</strong> Magna Cum Laude</p> -->
                </div>
            </mat-card-content>
        </mat-card>
        <hr fxShow.gt-md>
        <mat-card class="education-card">
            <mat-card-header>
                <mat-card-title>HIGHER SECONDARY</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayout.lt-md="column">
                        <div fxFlex="50%">
                            <p><strong>School: </strong> G.H.S.S.MOOKANNOOR</p>
                            <p><strong>Higher Secondary: </strong> Computer Science</p>
                            <p><strong>Year: </strong> 2017</p>
                            <p><strong>CGPA: </strong> 77</p>
                        </div>
                    </div>
                    <!-- <p><strong>Honors:</strong> Magna Cum Laude</p> -->
                </div>
            </mat-card-content>
        </mat-card>
        <hr fxShow.gt-md>
        <mat-card class="education-card">
            <mat-card-header>
                <mat-card-title>SSLC</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayout.lt-md="column">
                        <div fxFlex="50%">
                            <p><strong>School:</strong>Sree Sarada Girls Higher Secondary School</p>
                            <p><strong>SSLC:</strong>State Board </p>
                            <p><strong>Year:</strong> 2015</p>
                            <p><strong>CGPA:</strong> 97</p>
                        </div>
                    </div>
                    <!-- <p><strong>Honors:</strong> Magna Cum Laude</p> -->
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>